[BEGINVDF]
Comment=
BaseDir=C:\Users\subam\Desktop\Gothic
VDFName=C:\Users\subam\Desktop\Gothic\Data\ModVDF\Welt_der_Verurteilten_1_03_CZ.0.02.mod
[FILES]
_WORK\DATA\SCRIPTS\_COMPILED\GOTHIC.DAT -r
_WORK\DATA\SCRIPTS\_COMPILED\MENU.DAT -r
_WORK\DATA\SCRIPTS\CONTENT\CUTSCENE\OU.BIN -r
_WORK\DATA\TEXTURES\_COMPILED\MENU_GOTHIC-C.tex -r
_WORK\DATA\ANIMS\_COMPILED\HUM_TPLM_WHITEBODY_ARMOR.MDM -r
_WORK\DATA\ANIMS\_COMPILED\HUM_TPLM_BLACKBODY_ARMOR.MDM -r
_WORK\DATA\ANIMS\_COMPILED\HUM_TPLM_LATINOBODY_ARMOR.MDM -r
[EXCLUDE]
[INCLUDE]
[ENDVDF]
